@import  url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --main-font-family: "Karla", arial, sans-serif;
  --font-size:16px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--Light-Gray);
  justify-content: center;
  align-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.cards-section {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  align-content: center;
}

.card {
  width: 30rem;
  height: 20rem;
  padding: 1.8rem;
}

.bottom-cards{
  display: flex;
  flex-direction: row;
}

.top{
  background-color: white;
  width: 100%;
  height: 275px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top>p{
  color: var(--Grayish-Blue);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.top>h1{
  color: var(--Cyan);
  margin-bottom: 30px;
}

.top>h2{
  color: var(--Bright-Yellow);
  font-weight: 700;
}

.left{
  background-color: var(--Cyan);
  width: 50%;
  padding: 2.5rem;
  border-bottom-left-radius: 10px;
}

.dollar{
  font-size: 2.5rem;
}

.left>h2{
  color: white;
  font-size: 1.4rem;
  margin-top: 10px;
}

.left>p{
  color: white;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.month{
  color: var(--Light-Gray);
  font-weight: lighter;
  margin-left: 10px;
  font-size: 1.2rem;
}

.right{
    background-color: #4bbebc;
    width: 50%;
    padding-left: 45px;
    border-bottom-right-radius: 10px; 
}

.right>h2{
  color: white;
}

.right>p{
  color: var(--Light-Gray);
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
}

.btn{
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  background-color: var(--Bright-Yellow);
  border: none;
  color: white;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  font-size: 1.4rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

  .bottom-cards {
    flex-direction: column;
    align-items: center;
  }

  .cards-section{
    flex-direction: column;
  }

  .left{
    width: 100%;
  }

  .right{
      width: 100%;
  }

  .top{
    height: 23rem;
  }

}
