@import  url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --main-font-family: "Karla", arial, sans-serif;
  --font-size:16px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: var(--main-font-family);
  justify-content: center;
  align-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards-section {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.card {
  width: 30rem;
  height: 20rem;
  padding: 1.6rem;
  box-sizing: border-box;
}

.bottom-cards{
  display: flex;
  flex-direction: row;
}

.top{
  background-color: var(--Light-Gray);
  width: 100%;
}

.left{
  background-color: var(--Cyan);
  width: 50%;
}

.right{
    background-color: var(--Bright-Yellow);
    width: 50%;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

  .bottom-cards {
    flex-direction: column;
    align-items: center;
  }

  .cards-section{
    flex-direction: column;
  }

  .left{
    width: 100%;
  }

  .right{
      width: 100%;
  }

}
